@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Terraform</h1>
    <h2 class="display-3">I am an Azure Web App, PaaS resource with an App Service Plan and My content is coming from the GitHub Repository</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
